<?xml version="1.0" ?>
<model>
  <name>desert_scrub_bush</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Silent Sentry</name>
  </author>
  <description>
    Low-poly desert scrub bush for Thar Desert simulation.
    Multi-sphere canopy on a short trunk with arid colour palette.
  </description>
</model>
